*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1vw 0 0 -0.6vw;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 10;
  background: lightblue;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(119, 51, 51),
    rgb(204, 165, 165)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(73, 73, 73);
  text-align: center;
  font-size: 1.7vw;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, lightblue, white) 5;
}

main {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

article {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5vw;
  text-align: center;
}

.p-1 {
  font-size: 1.35vw;
  color: whitesmoke;
  background-color: transparent;
  margin-right: 30vw;
  padding-top: 8em;
}

h1 {
  font-size: 7vw;
  color: whitesmoke;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInLeft;
  margin-top: 20px;
  margin-bottom: 1em;
}

.Index Title {
  font-size: 7vw;
  color: rgb(255, 255, 255);
  text-align: center;
  animation: 1s ease-out 0s 1 slideInLeft;
}

.media {
  float: left;
  margin-top: 1vw;
}

.media > li {
  list-style: none;
  margin-top: 5vw;
}

i-1,
i-2,
i-3 {
  color: rgb(226, 226, 226);
  animation: 1s ease-out 0s 1 animate-drop;
}

i-1:hover,
i-2:hover,
i-3:hover {
  color: goldenrod;
}

.banner {
  max-width: 55%;
  margin: 50px;
  margin-bottom: 7em;
}

.p-2 {
  font-size: 0.9em;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 7rem;
}

.p-3 {
  font-size: 1em;
  color: whitesmoke;
  padding: 10px;
}

article > p a {
  color: goldenrod;
}

article > p a:hover {
  font-size: 1.3em;
  color: purple;
}

footer {
  font-size: 1.3vw;
  padding: 10px;
  background-color: rgb(73, 73, 73);
  border-image: linear-gradient(to right, lightblue, white) 5;
  text-align: center;
  border-top: 2px solid darkblue;
  bottom: 0;
  position: absolute;
  width: 100%;
}

nav a:visited,
nav a:link {
  color: whitesmoke;
  text-decoration: none;
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 20px 0 20px;
}

nav > ul > li a:hover {
  color: goldenrod;
}

aside {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }

  .columns-desktop {
    display: flex;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes animate-drop {
  0% {
    opacity: 0;
    transform: translate(0, -300px) scale(0.9, 1.1);
  }

  95% {
    opacity: 1;
    transform: translate(0, 0) scale(0.9, 1.1);
  }

  96% {
    opacity: 1;
    transform: translate(10px, 0) scale(1.2, 0.9);
  }

  97% {
    opacity: 1;
    transform: translate(-10px, 0) scale(1.2, 0.9);
  }

  98% {
    opacity: 1;
    transform: translate(5px, 0) scale(1.1, 0.9);
  }

  99% {
    opacity: 1;
    transform: translate(-5px, 0) scale(1.1, 0.9);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
  }
}
