*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.circle,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 0;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 10;
  background: lightblue;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, rgb(119, 51, 51), rgb(204, 165, 165));
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 10px;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(73, 73, 73);
  text-align: center;
  font-size: 2vw;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, lightblue, white) 5;
}

main {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

.index-p-1 {
  font-size: 1.35vw;
  color: whitesmoke;
  background-color: transparent;
  margin-right: 30vw;
  padding-top: 5em;
}

h1 {
  font-size: 7vw;
  color: whitesmoke;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInLeft;
  margin-top: 20px;
} 

.Index Title {
  font-size: 7vw;
  color: whitesmoke;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInLeft;
} 

.banner {
  max-width: 20%;
  margin: 50px;
  animation: 1s ease-out 0s 1 slideInLeft;
}

.index-p-2 {
  font-size: .9em;
  color: whitesmoke;
  padding: 10px;
}

article>p a {
  color: goldenrod;
}

.index-p-3 {
  font-size: 1em;
  color: whitesmoke;
  padding: 10px;
}

footer {
  font-size: 1.9vw;
  padding: 10px;
  background-color: rgb(73, 73, 73);
  border-image: linear-gradient(to right, lightblue, white) 5;
  text-align: center;
  border-top: 2px solid darkblue;
  bottom: 0;
}

nav a:visited,
nav a:link {
  color: whitesmoke;
  text-decoration: none;
}

nav>ul {
  display: inline;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  list-style: none;
  margin: 0 20px 0 20px;
}

nav>ul>li a:hover {
  list-style: none;
  color: goldenrod;
}

aside,
article {
  text-align: center;
}

aside {
  text-align: center;
}

article {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5vw;
}


article>p a:hover {
  list-style: none;
  font-size: 1.3em;
  color: purple;
}

.about p {
  color: yellow;
}

.columns {
  display: flex;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }
  
  .columns-desktop {
    display: flex;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(0);
  }
}