@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	* {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	}
	.container2 {
		margin: 5vw;
	}
	.main-nav {
		font-size: 1.4vh;
	}
	.main-nav ul li {
		float: none;
		margin-left: 35px;
		font-family: 18px;
	}
	.main-nav ul li a {
		text-decoration: none;
		color: #fff;
	}
	.about-section {
		padding-top: 0;
		padding-bottom: 10px;
	}
	#logo {
		position: relative;
		top: 30px;
		font-size: 2.2vh;
		margin: 0 auto;
		float: right;
		margin-right: 15px;
	}
	#jobTitle {
		position: relative;
		top: 30px;
		font-size: 2.2vh;
		font-size: 2vw;
		float: right;
		margin-right: 10rem;
	}
	.title,
	.title2 {
		font-size: 4vh;
	}
	.title2 {
		margin-right: 2vw;
		margin-bottom: 8vh;
	}
	.text,
	.text2 {
		font-size: 30px;
		margin: 3vh;
		line-height: 2em;
	}
	.projectTitle {
		display: none;
	}
	.text::first-letter {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		margin: -0.01em 0.2em -0.25em 0;
	}
	#proffesional {
		margin-bottom: 10rem;
	}
	#proffesional {
		max-width: 45vw;
	}
	#proffesional2 {
		margin-bottom: 10px;
		margin-top: 5vh;
		max-width: 65vw;
		margin-left: 90px;
	}
	.bar,
	.emptybar,
	.filledbar {
		display: none;
	}
	.cardIcon {
		height: 8.5vw;
	}
	.cardTitle {
		font-size: 55px;
		line-height: 1;
	}
	.cardText {
		font-size: 26px;
	}
	.buttons {
		font-size: 23px;
	}
	.back-to-top-icon {
		width: 4rem;
		height: 4rem;
	}
	.contact-section {
		height: 100vh;
	}
	.banner img {
		height: 30vh;
		vertical-align: top;
	}
	.card {
		margin-bottom: 30px;
		display: inline-block;
		height: fit-content;
		width: 550px;
		background-color: #17141d;
		border-radius: 10px;
		box-shadow: -1rem 0 3rem #000;
		transition: 0.4s ease-out;
		position: relative;
		left: 27vw;
		padding-left: 20px;
		padding-right: 20px;
	}
	.card:hover ~ .card {
		left: none;
	}
	.resume-chunk {
		float: left;
		width: 100%;
		margin-right: 30px;
		margin-left: 30px;
	}
	.resume-title {
		font-size: 80px;
		margin-bottom: 60px;
	}
	.resume-subtitle {
		font-size: 35px;
	}
	.resume-jobTitle {
		font-size: 13.5px;
	}
	.resume-text {
		font-size: 11px;
		margin-left: 40px;
	}
	#resume-projects {
		text-align: center;
	}
	.resume-box {
		width: 100%;
		text-align: center;
		float: left;
		margin-top: 40px;
	}
	.resumePDF {
		color: #7ac9f9;
		text-decoration: none;
		text-shadow: 1px 1px 2px black;
	}

	/* Cool navigation for iphones */
	#header {
		display: none;
	}
	a {
		text-decoration: none;
	}
	.nav-container2 {
		position: relative;
		margin: 35px auto 0;
		width: 300px;
		height: 534px;
		background-color: #533557;
		overflow: hidden;
	}
	/* Toggle Functionality */
	#toggle {
		display: none;
	}
	#toggle:checked ~ .toggle-container .button-toggle:before {
		transform: translateY(-50%) rotate(45deg) scale(1);
	}
	#toggle:checked ~ .toggle-container .button-toggle:after {
		transform: translateY(-50%) rotate(-45deg) scale(1);
	}
	#toggle:checked ~ .nav {
		margin-bottom: 100px;
		pointer-events: auto;
		transform: translate(50px, 50px);
	}
	#toggle:checked ~ .nav .nav-item {
		color: white;
		letter-spacing: 0;
		height: 60px;
		line-height: 60px;
		margin-top: 0;
		opacity: 1;
		transform: scaleY(1);
		transition: 0.5s, opacity 0.1s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(1) {
		transition-delay: 0.15s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(1):before {
		transition-delay: 0.15s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(2) {
		transition-delay: 0.1s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(2):before {
		transition-delay: 0.1s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(3) {
		transition-delay: 0.05s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(3):before {
		transition-delay: 0.05s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(4) {
		transition-delay: 0s;
	}
	#toggle:checked ~ .nav .nav-item:nth-child(4):before {
		transition-delay: 0s;
	}
	#toggle:checked ~ .nav .nav-item:before {
		opacity: 0;
	}
	#toggle:checked ~ .dummy-content {
		padding-top: 30px;
	}
	#toggle:checked ~ .dummy-content:before {
		background-color: rgba(0, 0, 0, 0.3);
	}
	/* Toggle Button */
	.button-toggle {
		position: absolute;
		display: inline-block;
		width: 45px;
		height: 45px;
		margin: 25px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		border-radius: 100%;
		transition: 0.6s;
	}
	.button-toggle:hover {
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
	}
	.button-toggle:before,
	.button-toggle:after {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #7ac9f9;
		border-radius: 5px;
		transition: 0.5s;
	}
	.button-toggle:before {
		transform: translateY(-50%) rotate(45deg) scale(0);
	}
	.button-toggle:after {
		transform: translateY(50%) rotate(-45deg) scale(0);
	}
	/* Menu */
	.nav {
		display: inline-block;
		margin: 25px 25px 20px;
		pointer-events: none;
		transition: 0.5s;
	}
	.nav-item {
		position: relative;
		float: left;
		clear: both;
		color: transparent;
		font-size: 25px;
		letter-spacing: -6.2px;
		height: 15px;
		line-height: 30px;
		text-transform: uppercase;
		white-space: nowrap;
		transform: scaleY(0.2);
		transition: 0.5s, opacity 1s;
	}
	.nav-item:nth-child(1) {
		transition-delay: 0s;
	}
	.nav-item:nth-child(1):before {
		transition-delay: 0s;
	}
	.nav-item:nth-child(2) {
		transition-delay: 0.05s;
	}
	.nav-item:nth-child(2):before {
		transition-delay: 0.05s;
	}
	.nav-item:nth-child(3) {
		transition-delay: 0.1s;
	}
	.nav-item:nth-child(3):before {
		transition-delay: 0.1s;
	}
	.nav-item:nth-child(4) {
		transition-delay: 0.15s;
	}
	.nav-item:nth-child(4):before {
		transition-delay: 0.15s;
	}
	.nav-item:nth-child(1) {
		letter-spacing: -8px;
	}
	.nav-item:nth-child(2) {
		letter-spacing: -7px;
	}
	.nav-item:nth-child(n + 4) {
		letter-spacing: -8px;
		margin-top: -7px;
		opacity: 0;
	}
	.nav-item:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #7ac9f9;
		transform: translateY(-50%) scaleY(5);
		transition: 0.5s;
	}
}
