@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@200&display=swap");
body,
html {
	margin: 0;
	font-family: "Rowdies", cursive;
	font-size: 20px;
	scroll-behavior: smooth;
	line-height: 1.5em;
}
#header {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px 0;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.container {
	width: 86%;
	margin: 0 auto;
}
.container2 {
	width: 86%;
	margin: 0 auto;
	height: 100vh;
}
.container3 {
	width: 86%;
	margin: 0 auto;
	background: rgba(224, 202, 183, 0.8);
	padding: 30px;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.title {
	font-size: 3vw;
	margin-bottom: 13vh;
	color: white;
}
.title2 {
	font-size: 3vw;
	margin-top: 20vh;
	margin-bottom: 13vh;
}
#header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.float-container {
	padding: 0px;
	vertical-align: middle;
}
#logo {
	color: white;
	font-size: 2vw;
	animation: glow 100s infinite alternate;
	float: left;
	margin-right: 20px;
}
#jobTitle {
	color: white;
	font-size: 1vw;
	margin: 0 auto;
	float: left;
}
.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav ul li {
	float: left;
	margin-left: 35px;
	font-family: 18px;
}
.main-nav ul li a {
	text-decoration: none;
	color: #fff;
}
.banner img {
	max-width: 100%;
	vertical-align: top;
}
.about-section,
.projects-section,
.contact-section {
	height: 100%;
	width: 100%;
	padding-top: 10vh;
	display: inline-block;
	background: rgba(10, 10, 9, 0.8);
}
#aboutTitle {
	float: left;
}
#proffesional {
	max-width: 18vw;
	left: 40vw;
	margin-left: 30vw;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	border-radius: 170px;
}
#proffesional2 {
	max-width: 25vw;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	float: left;
	margin-right: 6vw;
	border-radius: 40px;
}
.text {
	margin: 6vh;
	margin-top: 10vh;
	background-color: rgb(205, 252, 240);
	padding: 20px;
	float: right;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.text::first-letter {
	font-family: "Rowdies", cursive;
	display: inline-table;
	float: left;
	margin: -0.01em 0.1em -0.25em 0;
	font-size: 3.5em;
	line-height: 1;
}
.text2 {
	width: 100%;
	margin-top: 10vh;
	padding-right: 20px;
}
.contact-section {
	height: 100vh;
}
.footer-section {
	background: black;
	display: flex;
}
.footer-section .container {
	text-align: center;
}
.footer-nav ul li a {
	text-decoration: none;
	color: #fff;
}
.main-nav ul li a:hover,
.footer-nav ul li a:hover {
	animation: glow 10s infinite;
}
.card {
	display: inline-block;
	height: fit-content;
	width: 550px;
	background-color: #17141d;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.4s ease-out;
	position: relative;
	left: 22vw;
	padding-left: 20px;
	padding-right: 20px;
}
.card:not(:first-child) {
	margin-left: -13vw;
	float: left;
}
.card:hover {
	transform: translateY(-40px);
	transition: 0.4s ease-out;
}
.card:hover ~ .card {
	position: relative;
	left: 36vw;
	transition: 0.4s ease-out;
}
.cardTitle {
	font-size: 40px;
	color: white;
	font-weight: 300;
	left: 20px;
	top: 15px;
	margin-bottom: 60px;
}
.cardIcon {
	height: 12vh;
	margin: 6px;
	margin-left: 35px;
}
.cardText {
	color: white;
	font-weight: 300;
	margin: 30px;
}
.cardVideo {
	width: 550px;
	margin-bottom: 20px;
}
.bar {
	position: absolute;
	top: 90px;
	left: 20px;
	height: 5px;
	width: 200px;
}
.emptybar {
	background-color: #2e3033;
	width: 100%;
	height: 100%;
}
.filledbar {
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 0px;
	height: 100%;
	background: rgb(0, 154, 217);
	background: linear-gradient(
		90deg,
		rgba(0, 154, 217, 1) 0%,
		rgba(217, 147, 0, 1) 65%,
		rgba(255, 186, 0, 1) 100%
	);
	transition: 0.6s ease-out;
}
.card:hover .filledbar {
	width: 200px;
	transition: 0.4s ease-out;
}
.buttons {
	padding: 15px 25px;
	margin: 25px;
	font-size: 17px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 15px;
}
.buttons:hover {
	background-color: #4caf50;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttons:active {
	background-color: #3e8e41;
	transform: translateY(4px);
}
.media {
	margin-top: 25vh;
	text-align: center;
	margin-bottom: 20px;
}
.media > li {
	display: inline;
	margin-right: 5vw;
	margin-left: 5vw;
}
.media > li > a {
	text-decoration: none;
}
i-1,
i-2,
i-3 {
	color: black;
	animation: 1s ease-out 0s 1 animate-drop;
}
.here {
	color: black;
	text-decoration: none;
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
	* {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	}
	.about-section {
		padding-bottom: 10px;
	}
	#logo {
		font-size: 1.8vh;
		margin-right: 50px;
	}
	.title,
	.title2 {
		font-size: 5vh;
	}
	.title2 {
		margin-right: 2vw;
	}
	.text,
	.text2 {
		font-size: 30px;
		margin: 3vh;
		line-height: 2em;
	}
	.text::first-letter {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		margin: -0.01em 0.3em -0.25em 0;
	}
	.text2 {
		float: none;
		margin-right: 30px;
	}
	#proffesional,
	#proffesional2 {
		max-width: 65vw;
		margin-left: 90px;
		position: static;
	}
	#proffesional2 {
		margin-bottom: 10vh;
	}
	.bar,
	.emptybar,
	.filledbar {
		display: none;
	}
	.cardIcon {
		height: 7vw;
	}
	.contact-section {
		height: 100%;
	}
	.card {
		all: unset;
		display: inline-block;
		height: fit-content;
		width: 550px;
		background-color: #17141d;
		border-radius: 10px;
		box-shadow: -1rem 0 3rem #000;
		position: relative;
		left: 22vw;
		padding-left: 20px;
		padding-right: 20px;
	}
	.card:not(:first-child),
	.card:hover,
	.card:hover ~ .card {
		all: unset;
	}
}
.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}
.reveal.active {
	transform: translateY(0);
	opacity: 1;
}
@media screen and (max-width: 1000px) {
	.container2 {
		height: 100%;
	}
}
@keyframes glow {
	0% {
		text-shadow: 0 0 10px white;
	}

	15% {
		text-shadow: 2px 2px 10px rgba(255, 255, 255, 1), -2px -2px 10px rgba(255, 255, 255, 1);
	}
	30% {
		text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7), -2px -2px 4px rgba(255, 255, 255, 0.7);
	}
	50% {
		text-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5), -20px -20px 50px rgba(255, 255, 255, 0.5);
	}
}
@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.blob.white {
	background: white;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}
